@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;400;500;700&display=swap");

* {
  font-style: normal;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}
h1 {
  font-family: "Kumbh Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;

  color: #1e1f36;
  display: flex;
  justify-content: center;
}
.illustration-desktop {
  display: none;
}
.illustration-desktop-box {
  display: none;
}
.shadow {
  position: relative;
  z-index: 1;
  transform: translateY(37px);
}
.shadow-desktop {
  display: none;
}
.illustration {
  width: 237px;
  position: relative;
  z-index: 1;
  transform: translateY(119px);
}
.box {
  width: 327px;
  border-radius: 23px;
  background: #ffffff;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
  padding: 80px 24px 76px 24px;
  margin: 20px;
  transform: translateY(-77px);
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  font-family: "Kumbh Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #787887;
  text-align: initial;
  width: 269px;
  display: none;
  transition: 0.3s ease-in-out;
}

.conteiner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.info {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #4b4c5f;
  border: 0px;
  background-color: #ffffff;
  cursor: pointer;
  padding: 0;
}
.info:hover {
  color: #f47b56;
}

.conteiner.active > .info {
  color: #1e1f36;
  font-weight: 700;
}
.arrow {
  height: 4px;
  width: 8px;
  margin-left: 15px;
  cursor: pointer;
}
.conteiner.active > .arrow {
  transform: rotateX(180deg);
}

/*////////////////////////////////////////////////////////
          @media (min-width:1210px) 
//////////////////////////////////////////////////////// */
@media (min-width: 1210px) {
  .shadow {
    display: none;
  }
  .illustration {
    width: 471.69px;
    height: 277.97px;
    transform: translateX(100%);
  }

  .shadow-desktop {
    display: flex;
    transform: translate(-129px, 17px);
    width: 564px;
    height: 518px;
    z-index: 1;
  }
  section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .box {
    width: 876px;

    transform: translateX(-486px);
  }
  h1 {
    transform: translateX(24px);
  }
  .faq-info {
    width: 350px;
    display: flex;
    flex-direction: column;
    transform: translateX(405px);
  }
}
